@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

:root {
    --brand-dark: #081d35;
    --card-background: #0d223a;
    --background: var(--brand-dark);
    --foreground: #ededed;
}

@theme inline {
    --color-brand-dark: var(--brand-dark);
    --color-background: var(--background);
    --color-card-background: var(--card-background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
}

@layer utilities {
    /* Custom Scrollbar Global */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-300 hover:bg-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
